<!-- navabar -->
<nav class="bg-black fixed inset-x-0">
        <div class="max-w-6xl mx-auto px-2 py-1">
            <div class="flex justify-between items-center px-4 ">
                <!-- logo -->
                <div>
                    <a href="#" class="flex items-center">
                        <img src="../public/img/logo-nobg-circ.png" alt="" class="h-20 w-20">
                        <span class="font-bold text-2xl text-white">Untrapd</span>
                    </a>
                </div>
                <!-- primary nav -->
                <div class="hidden md:flex flex justify-between items-center space-x-10">
                    <a href="" class="py-3 px-4 text-white hover:text-blue-200">Dashboard</a>
                    <a href="" class="py-3 px-4 text-white hover:text-blue-200">Features</a>
                    <a href="" class="py-3 px-4 text-white hover:text-blue-200">Pricing</a>
                </div>
                <!-- secondary nav -->
                <div class="hidden md:flex items-center">
                    <a href="" class="flex items-center space-x-1 py-3 px-4 bg-blue-500 text-white rounded hover:bg-blue-400 transition duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        <span>New Post</span>
                    </a>
                </div>

                <!-- mobile button -->
                <div class="md:hidden flex items-center space-x-10">
                    <a href="" class="flex items-center space-x-1 py-3 px-4 bg-blue-500 text-white rounded hover:bg-blue-400 transition duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        <span>New Post</span>
                    </a>
                    <button class="mobile-menu-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
    <!-- mobile menu -->
    <div class="hidden mobile-menu md:hidden">
        <a href="" class="block py-6 px-4 text-sm text-gray-900 hover:bg-gray-300">Dashboard</a>
        <a href="" class="block py-6 px-4 text-sm text-gray-900 hover:bg-gray-300">Features</a>
        <a href="" class="block py-6 px-4 text-sm text-gray-900 hover:bg-gray-300">Pricing</a>
    </div>
</nav>